.titleAboutPage {
  font-family: Consolas, monaco, monospace;
  color: white;
  font-size: 22px;
}
.logoAboutlogoimg {
  width: 100%;
}
.centerAbout {
  display: flex;
  justify-content: center;
}
.divideAbout {
  display: flex;
  justify-content: space-around;
}
