.titleaboutpage{
  font-family: Consolas, monaco, monospace;
  color: white;
  font-size: 22px;
}
.logoaboutlogoimg{
  width: 100%;
}
.centerabout{
  
    display: flex;
    justify-content: center;
     
  }