
.card{
  background-color: white;
  margin-left: 14.5%;
  margin-top: 20px;
  text-decoration: none;
  width: 70%;
  font-family: Consolas,monaco,monospace; 
  color: black;
  transition: transform 250ms;
}




.card:hover{
  transform: translateY(-10px);
  color: gray;
}