.thenotepadlanding {
  font-size: 470%;
  color: rgb(228, 226, 226);
  font-family: Consolas, monaco, monospace;
  width: auto;
  padding-top: 10%;
  text-decoration: none;
}

.parent {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parent2{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginform{
  margin-top: 3%;
}
.passwordform{
  height: 80px;
  padding-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.start {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background-color: rgba(236, 234, 234, 0.658);
  color: black;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: -20%;
  margin-top: -20%;
  font-family: Consolas, monaco, monospace;
  border: 0.1rem outset white
}
.start:hover {
  background-color: rgba(14, 14, 14);
  color: rgb(228, 226, 226)
}

.forgotpass{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.forgotpass_btn{
  padding-bottom: 5%;
  color: rgba(236, 234, 234, 0.658);
}

.forgotpass_btn:hover{
  padding-bottom: 5%;
  color: rgb(228, 226, 226);

}
.thenotepadlanding:hover{
  color: rgb(228, 226, 226)
}
