.thenotepadlanding {
  font-size: 470%;
  color: white;
  font-family: Consolas, monaco, monospace;
  width: auto;
  padding-top: 10%;
}

.parent {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginform{
  margin-top: 3%;
}
.passwordform{
  height: 80px;
  padding-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.start {
  margin-top: 11%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background-color: rgba(236, 234, 234, 0.658);
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-family: Consolas, monaco, monospace;
}
.forgotpass{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forgotpass_btn{
  color: rgba(236, 234, 234, 0.658);
}

.start:hover {
  background-color: black;
  color: white;
}
