.split {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.left {
  left: 0;
  background-color: rgb(14, 14, 14);
}

.right {
  right: 0;
  background-color: rgb(14, 14, 14);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.centeredimage {
  width: 80%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.titleLandingPage {
  font-family: Consolas, monaco, monospace;
  color: white;
  margin-bottom: 10%;
}
.footerPage {
  position: fixed;

  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(236, 234, 234, 0.185);
  color: rgb(190, 190, 190);
  text-align: center;
}
.footerwriting{
  padding-top: 1%;
  display: flex;
  justify-content: right;
  font-family: 'Lato', sans-serif;
}