.thenotepadlanding {
  font-size: 470%;
  color: white;
  font-family: Consolas, monaco, monospace;
    width: auto;
    padding-top: 10%
}

.parent {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.start{
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  background-color: white;
  color:black;
  text-decoration: none;
  font-family: Consolas, monaco, monospace;
}

.start:hover{
  background-color: black;
  color:white;
}
