.navbar{
  background-image: linear-gradient(rgba(46, 46, 46, 0.705), rgba(0, 0, 0, 0));
  font-family: Consolas,monaco,monospace;
  list-style: none; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
.notes{
  text-decoration: none;
  color: rgb(221, 221, 231);
  margin-left: 25px;
}
.home{
  text-decoration: none;
  color: rgb(221, 221, 231);
}
.title{
  text-decoration: none;
  color: rgb(221, 221, 231);
  font-size: 30px;
  
}
.addnotes{
  text-decoration: none;
  color: rgb(221, 221, 231);
}

.home:hover, .addnotes:hover, .notes:hover{
  color: gray;
  cursor: pointer;
}
